/* modal.css */
.custom-dark-modal .ant-modal-content {
  background-color: #111827;
  border-radius: 8px;
  color: white;
}

.custom-dark-modal .ant-modal-header {
  background-color: #111827;
  border-bottom: 1px solid #1f2937;
}

.custom-dark-modal .ant-modal-title {
  color: white;
}

.custom-dark-modal .ant-modal-close-x {
  color: white;
}

.custom-dark-modal .ant-modal-footer {
  background-color: #111827;
  border-top: 1px solid #1f2937;
}
.custom-dark-modal .ant-modal-content {
  background-color: #0f172a !important;
  color: white;
  border-radius: 10px;
}

.custom-dark-input {
  background-color: #030712 !important;
  color: white !important;
  border: 1px solid #334155;
  height: 48px;
  padding-left: 16px;
}

.custom-dark-input .ant-select-selector {
  background-color: #030712 !important;
  color: white !important;
  border: none !important;
}

.custom-dark-dropdown {
  background-color: #1e293b !important;
  color: white !important;
}

/* Make placeholder text white or any other color */
.custom-dark-input input::placeholder {
  color: #9E9E9E !important;
}
