@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #1E1E1E;
}

/* style.css or inside a module/global style file */
.custom-ant-table .ant-table {
  background-color: #030712;
  color: white;
  border: none;
}

.custom-ant-table .ant-table-thead > tr > th {
  background-color: #030712 !important;
  color: #fff !important;
   border: none;
}

/* Customize the hover color for Menu items */
.ant-menu-item{
    padding: 30px;
}

.ant-menu-item:hover {
  background-color: #030712 !important;  /* Change to your preferred color */
  color: white !important;  /* Change text color on hover */
}

/* Optional: Change the active item (selected item) background color */
.ant-menu-item-selected {
  background-color: #030712 !important;  /* Change active item background color */
  color: white !important;  /* Active item text color */
  
}


.ant-table-tbody > tr.ant-table-row:hover > td {
      background: none !important;
  } 


.custom-ant-table .ant-table-tbody > tr > td {
  background-color: #030712 !important;
  color: #ddd;
   border: none;
}

.custom-ant-table .ant-table-row:hover > td {
  background-color: #333 !important;
   border: none;
}

.ant-table-thead > tr > th::before {
  display: none !important;
}

.ant-table-tbody > tr > td {
  border: none
}

/* Assuming .custom-ant-table is your table's custom class */
.custom-ant-table .ant-table-thead > tr > th {
  border-right: none !important; /* Remove vertical line */
}

/* Optional: remove borders from body cells if needed too */
.custom-ant-table .ant-table-tbody > tr > td {
  border-right: none !important;
}



.poplight {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.popreg {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.popmed {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.popbold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Override active pagination item background */
.ant-pagination .ant-pagination-item-active {
  background-color: #2C739E !important; /* Replace with your desired color */
  border-color: #2765A1 !important;
}


.ant-pagination .ant-pagination-item {
  background-color: #97BECA;  /* Inactive bg */
  border-color: #1e293b !important;
}

.ant-pagination .ant-pagination-item a {
  color: black /* Text color for inactive buttons */
}

/* Optional: Change text color */
.ant-pagination .ant-pagination-item-active a {
  color: #fff !important;
}
/* Globally override Ant Dropdown menu */
.ant-dropdown-menu {
  background-color: #1e1e2f !important;
  border: 1px solid #5D87A3 !important;
  color: white !important;
}

.ant-dropdown-menu-item {
  color: white !important;
}


